<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">
	
	<sql id="pageHeader">
  		SELECT *
		FROM
		(
			SELECT CAST((@ROWNUMOUT := @ROWNUMOUT - 1)AS SIGNED) AS RNUM2,  A.*
			FROM
			(
				SELECT CAST((@ROWNUMIN := @ROWNUMIN + 1)AS SIGNED) AS RNUM, A.*
				FROM
				(
    </sql>
    
    <sql id="pageFooter">
				) A
				JOIN (SELECT @ROWNUMIN := 0) AS R
			) A
			JOIN (SELECT @ROWNUMOUT := @ROWNUMIN + 1) AS R2
		) A
		<if test="pageNum != '' and pageNum != null and pageNum != '0'">
		WHERE RNUM BETWEEN (((#{pageNum}-1) * #{rowCnt}) + 1) AND #{pageNum} * #{rowCnt}
		</if>
    </sql>

	<sql id="pageHeader2">
  		SELECT T.*
        FROM(
    </sql>
    
    <sql id="pageFooter2">
		)T
        
        <if test="pageNum != '' and pageNum != null and pageNum != '0'">
        WHERE T.NO2 BETWEEN ((#{pageNum}-1) * #{rowCnt}) + 1 AND #{pageNum} * #{rowCnt}
        </if>
    </sql>

	<sql id="pageHeader3">
  		SELECT *	
		FROM (	
			SELECT QRSLT.*, ROWNUM RNUM, COUNT(1) OVER() AS TOTAL_CNT FROM (
    </sql>
    
    <sql id="pageFooter3">
		  ) QRSLT
		)  
		<if test="pageNum != '' and pageNum != null and pageNum != '0'">
		WHERE <![CDATA[ RNUM BETWEEN (((#{pageNum}-1) * #{rowCnt}) + 1) AND  #{pageNum} * #{rowCnt}]]>	
		</if>
    </sql>    
    
</mapper>
