@charset "utf-8";
/*-------------------------------------------------
General Style Sheet
Version : 1.0
Author : myeong-hee park
Create date : 2017. 06. 19.
-------------------------------------------------*/
/* NotoSans */
@font-face {
	font-family: 'Noto'; 
	src: url('../../font/notokrL.eot'); 
	src: url('../../font/notokrL.eot?#iefix') format('embedded-opentype'), url('../../font/notokrL.woff2') format('woff2'), url('../../font/notokrL.woff') format('woff'); 
	font-weight: 100;
	font-style: normal; 
	}
@font-face { 
	font-family: 'Noto'; 
	src: url('../../font/notokrD.eot'); 
	src: url('../../font/notokrD.eot?#iefix') format('embedded-opentype'), url('../../font/notokrD.woff2') format('woff2'), url('../../font/notokrD.woff') format('woff'); 
	font-weight: 200; 
	font-style: normal; 
	}
@font-face { 
	font-family: 'Noto'; 
	src: url('../../font/notokrR.eot'); 
	src: url('../../font/notokrR.eot?#iefix') format('embedded-opentype'), url('../../font/notokrR.woff2') format('woff2'), url('../../font/notokrR.woff') format('woff'); 
	font-weight: 300; 
	font-style: normal; 
	}
@font-face { 
	font-family: 'Noto'; 
	src: url('../../font/notokrM.eot'); 
	src: url('../../font/notokrM.eot?#iefix') format('embedded-opentype'), url('../../font/notokrM.woff2') format('woff2'), url('../../font/notokrM.woff') format('woff'); 
	font-weight: 400; 
	font-style: normal; 
	}
@font-face { 
	font-family: 'Noto'; 
	src: url('../../font/notokrB.eot'); 
	src: url('../../font/notokrB.eot?#iefix') format('embedded-opentype'), 
		url('../../font/notokrB.woff2') format('woff2'),
		url('../../font/notokrB.woff') format('woff'); 
	font-weight: 500; 
	font-style: normal; 
	}

html {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	-webkit-text-size-adjust: none; 
	-moz-text-size-adjust: none; 
	-ms-text-size-adjust: none; 
	}
body {
	margin: 0;
	padding: 0;	
    background-color: #ecf0f5;
	color: #636363;
	line-height: 1.6;
	vertical-align: baseline;
	font-size: 93.8%;
	font-family: Noto, "맑은 고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
	font-weight: 100;
	}	
/* render html5 elements as block */
header, footer, article, section, aside, nav, main {
	display: block;
	}
a {
	color: #464646;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
	}
img {
	border: none;
	}
select, input, textarea {
	border: solid 1px #dae0e6;
	border-radius: 2px;
	color: #454545;
	box-sizing:  border-box;	
	-webkit-transition: border-color .15s ease-in-out,background-color .15s ease-in-out;
	transition: border-color .15s ease-in-out,background-color .15s ease-in-out;
	font-family: Noto,"맑은 고딕", Malgun Gothic, arial, helvetica, clean, sans-serif;
	font-size: 1em;
	font-weight: 200;
	vertical-align: middle;
	}
select:focus,	
input:focus,
textarea:focus  {
    border-color: #4d90fe;
  	outline: none;
	}	
textarea {
	font-size: 1em;
	}
select {
	padding: 4px 6px 5px;
	}
input[type="submit"],
input[type="button"] {
	cursor: pointer; 
	}
input[type="radio"], 
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin: 0 0 0 8px;
	}	
input[type="radio"]:first-child, 
input[type="checkbox"]:first-child {
	margin-left: 0;
	} 	
/* input[type="submit"],	
input[type="radio"], 
input[type="checkbox"],
input[type="image"] {
	width: auto;
	} */
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="password"] {
	height: 35px;
	padding: 8px;
	}
ul, ol, li, dl, dt, dd, p {
	margin: 0;
	padding: 0;
	list-style: none;
	}
h1, h2, h3, h4, h5, h6, strong {	
	margin: 0;
	padding: 0;
	font-weight: 300;
	} 	
h1 {
	letter-spacing: -0.05em;
	}	
hr {
	display: none;
	}	
* button {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	cursor: pointer; 
	_cursor: hand;	
	text-decoration: none;
	overflow: visible;
	font-size: 1em;
	font-family:Noto, "맑은 고딕", Malgun Gothic, "돋움", Dotum, "굴림", Gulim, Tahoma, Verdana, AppleGothic, UnDotum, sans-serif;
	white-space: nowrap;
	}	
form  {
	margin: 0;
	padding: 0;
	}		
fieldset  {
	margin: 0;
	padding: 0;
	border: none;
	}	
legend  {
	width: 100%;
	height: 1px;
	text-indent: -9999px;
	overflow: hidden;
	}
iframe {
	margin: 0;
	padding: 0;
	border: currentcolor; 
	border-image-source: none;	
	}	

/* 테이블 STYLE */	
caption  {
	width: 100%;
	height: 1px;
	text-indent: -9999px;
	overflow: hidden;
	}	
table  {
	width: 100%;
	border-collapse: collapse;
	border: none;
	}
table th  {
	padding: 11px 20px;
	font-weight: 200;
	white-space: nowrap;
	}
table td  {
	padding: 11px 20px;    
	box-sizing: border-box;
	white-space: normal;
	word-break: break-all;
	}
/* skip navgation STYLE */
#accessibility {
    position: relative;
    width: 100%;
    margin: 0 auto;
	font-size: 1.3em;
	z-index: 200;
	}
#accessibility dt {	
	width: 100%;
	height: 0;
	font-size:  0;
	line-height: 0;
	}
#accessibility a {
	display:block; 
	position: absolute; 
	top: -10000px; 
	left: 0; 
	width: 100%; 
	height: 0; 
	text-align:center; 
	font-size: 1em;
	z-index: 200; 
	}
#accessibility a:hover, 
#accessibility a:focus, 
#accessibility a:active{
	position: absolute; 
	top: 0; 
	padding: 10px 0 25px;
	background: #1d60a7;
	color: #fff; 
	z-index: 200;
	}
/* Float STYLE*/
.float_wrap {
	overflow: hidden;
	}
.clear  {	
	clear: both;
	}
.float_left  {
	float: left;
	}
.float_right  {
	float: right;	
	}	
.display_none {
	display: none;
	}
.display_block	{
	display: block;
	}	
/* 폰트정렬 STYLE*/
.txt_center  {
	text-align: center;
	}
.txt_left  {
	text-align: left;
	}
.txt_right  {
	text-align: right;
	}
.txt_justify  {
	text-align: justify;
	}
.input_nomal  {
	width: auto;
	}
/* input size STYLE */
.input_long	{
	width: 100%;
	}	
.input_long02	{
	width: 90%;
	}
.input_long03 {
	width: 87%;
	}
.input_long04 {
	width: 70%;
}
.input_mid	{
	width: 50%;
	}
.input_mid02 {
	width: 45%;
	}	
.input_mid03 {
	width: 35%;
	}
.input_small	{
	width: 25%;
	}
/* point color STYLE */
.point01,
.point01_bold  {/* 빨강 */
	color: #da3d00;
	}
.point02,
.point02_bold,
.point02 a {/*파랑 */
	color: #037bc1;
	}
.black_txt {	
	color: #000;
	}	
.black_bold {
	color: #000;
	font-weight: bold;
	}	
.gray_txt {
	color: #555;
	}		
.point01_bold,	
.point02_bold,
.txt_bold  {
	font-style: normal;
	font-weight: bold;
	}	
.point03 {	
	color: #00857a;
	}
.point03_bold {
	color: #00857a;
	font-weight: bold;
	}	
.txt_normal,
.txt_normal a	 {
	font-weight: normal !important;
	}	
.letter_spacing {
	letter-spacing: 0;
	}
	
/* img 정렬 STYLE */
.vertical_top	{
	vertical-align: top;
	}	
.vertical_mid {
	vertical-align: middle; 
	}
.vertical_bom {
	vertical-align: bottom; 
	}
.hidden	 {
	display: block;
	width: 100%;
	height: 1px;
	margin-top: -1px;
	overflow: hidden;
	}
 .animated {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
	transition:all .5s ease;
	-webkit-transition:all .5s ease;
	}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    background-image: none;
    border: 1px solid transparent;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    font-size: 0.933em;
    font-weight: 300;
	}	
.btn_basic {
    background: transparent;	
	border-color: rgba(49, 58, 70, 0.2);
	}	
.btn_basic:hover {
	background-color: rgba(49, 58, 70, 0.07);
	}

/* 부트스트랩 반응형*/
 .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }	